/* page.module.css */

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 2rem);
}

.navbar {
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navLinks {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li:hover {
  color: #a0a0a0;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
  margin-top: 2rem;
}

.textContainer {
  max-width: 500px;
  opacity: -0; /* Initially set opacity to 0 */
  animation: fadeIn 4s ease forwards; /* Apply fade-in animation */
}

.textContainer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.textContainer p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.shopBtn {
  background-color: #a0a0a0;
  color: #212121;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shopBtn:hover {
  background-color: #f0f0f0;
}

.imageContainer {
  max-width: 500px;
  animation: fadeIn 4s ease forwards; /* Apply fade-in animation */
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Media queries for mobile devices */
/* ... Your existing media queries */
@media only screen and (max-width: 768px) {
  .container{
    margin-top: 3rem;
  }
  .navbar {
    padding: 0.5rem; /* Decrease padding for smaller screens */
  }

  .main {
    flex-direction: column; /* Change main layout to column on smaller screens */
    align-items: center;
    padding: 1rem;
  }

  .textContainer {
    max-width: 100%; /* Adjust text container width for smaller screens */
    text-align: center; /* Center text on smaller screens */
    animation: fadeIn 4s ease forwards; /* Apply fade-in animation */
  }

  .textContainer h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }

  .textContainer p {
    font-size: 1rem; /* Decrease font size for smaller screens */
  }

  .imageContainer {
    max-width: 100%; /* Adjust image container width for smaller screens */
    margin-top: 2rem; /* Increase margin-top for better spacing on smaller screens */
    animation: fadeIn 4s ease forwards; /* Apply fade-in animation */
  }
}
/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #313131;
  font-size: 0.8rem;
  margin-top: auto;
}

/* Light mode styles */
.light {
  background-color: #f0f0f0;
  color: #333;
}

/* Dark mode styles */
.dark {
  background-color: #121212;
  color: #f0f0f0;
}

.light .navbar {
  background-color: #f8f9fa;
}

.light .shopBtn {
  background-color: #121212;
  color: #f8f9fa;
}

.light .shopBtn:hover {
  background-color: #666;
}

.light .footer {
  background-color: #f0f0f0;
  color: #333;
}

.light .footer-content p {
  color: #666;
}

.light body {
  --body-background-color: #f0f0f0; /* Light mode background color */
}

.dark .footer {
  background-color: #121212;
  color: #f8f9fa;
}

.dark .footer-content p {
  color: #666;
}
