/* styles/Dashboard.module.css */
.dashboardContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .welcomeMessage {
    color: #121212;
  }
  
  .dark .welcomeMessage {
    color: #fff;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .dashboardHeader {
    padding: 1rem 2rem;
    margin-top: 4rem; /* Adjust this value to create space between the navbar and header */
    background-color: #f9f9f9;
    z-index: 100;
  }
  
  .welcomeMessage {
    margin-bottom: 0;
  }
  
  .dashboardContentWrapper {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    margin-top: 2rem; /* Add some spacing between the header and content */
  }
  
  .dashboardContent {
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .dashboardHeader {
      margin-top: 3.5rem; /* Adjust this value for mobile devices */
    }
  
    .dashboardContentWrapper {
      padding: 1rem;
    }
  
    .panelContainer {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .panel {
      flex-basis: auto;
    }
  }
  
  .panelContainer {
    display: flex;
    gap: 2rem;
  }
  
  .panel {
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .panel:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 00, 0, 0.05);
  }
  
  .panel h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #333333;
  }
  
  .panel p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 0.5rem;
  }
  
  .dark .panel h3 {
    color: #fff;
  }
  
  .dark .panel p {
    color: #fff;
  }
  
  .playerLoggedPanel {
    border-left: 4px solid #58595a;
  }
  
  .dark {
    background-color: #121212;
    color: #fff;
  }
  
  .dark .dashboardHeader {
    background-color: #1e1e1e;
  }
  
  .dark .panel {
    background-color: #1e1e1e;
  }
  
  .dark .sidebar {
    background-color: #1e1e1e;
  } 